.gap-10{
    gap:10px
    }
    .gap-20{gap:20px}
    .gap-30{gap:30px}
   
.login-wrapper{
    margin: 20px auto;
    height: 100vh;
}
.form-login{
    background: transparent !important;
    margin-top: 70px;
    backdrop-filter: blur(1px);
    padding: 20px;
    box-shadow: 0 0 10px;
  
    border-radius: 10px;
}

    .button{
 
        border: none;
        color: rgb(255, 255, 255);
       /* Pour les navigateurs basés sur WebKit */
        color: transparent; /* Pour les navigateurs basés sur Blink */
        background-image: linear-gradient(to right, #030d77 ,var(  --bs-pink)) !important;
        font-size: 15px;
    }      


body{
    height: max-content;
    overflow-y: scroll;
}

   body{
    font-family: 'Poppins', sans-serif;
  }
  input{
    padding: 4px;
  }
  ::placeholder {
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
    color: var();
  }

  .input-form{
    border: 1px solid var(--color-6f42c1) !important;
  }
  .login-wrapper{
    width: 100%;
    padding: 10px;
 
    
  }
  .form-login-registre{
    width: 30%;
    margin: 10px auto;
  }
  @media screen and (max-width:600px) {
   .login-wrapper{
    width: 100%;
   }
   .form-login-registre{
    width: 100%;
    margin: 10px auto;
  }
  
   
  }
  @media screen and (max-width:914px) {
    .form-login-registre {
      width: 70%;
      margin: 10px auto;
  }
  }
   h5{
  color:#d63384 !important
  }